*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif

}

.container {
    width: 75%;
    margin:auto;
    padding: 1.5% 5% 5% 5%;
    background-color: white;
    margin-top: 50px;
    border-radius: 5px;
}

.divisore{
    
    margin: 10px 0px;
    background-color: #f6f8f9;
    padding: 1.5px;
    /* problema con margini */

}

/* logo */
#logo{
    margin: 1% 0% 1% 2%;
    vertical-align: middle;
}

#logot{
    font-size: 35px;
    font-weight: 600;
    vertical-align: middle;
}

.containerl h1{
    display: inline-block;
}
/* /logo */

/* colori background */
body{
    background-color: #f6f8f9;
}

header{
    background-color: white;
}

/* colori background */

/* nav */
.bott1{
    border-radius: 5px;
    padding: 1% 2%;
    
}

.bott2{
    background-color: white;
    border-radius: 5px;
    padding: 1% 2%;
    color: #c6ccd1;
    border:1px solid #c6ccd1;
}

hr{
    color: #f6f8f9;
    margin-top: 1%;
    width: auto;
 } /*non riesco a togliere il margine ai lati*/

/* fine nav */

/* lista */
.blu{
    color: white;
    background-color: #45abea;
    border:1px solid #45abea;
}

.viola{
    color: white;
    background-color: #9c72e4;
    border:1px solid #9c72e4;
}

.verd1{
    color: white;
    background-color: #64c0a9;
    border:1px solid #64c0a9;
}

.verd2{
    color: white;
    background-color: #b0c926;
    border:1px solid #b0c926;
}

.aranc{
    color: white;
    background-color: #f29e33;
    border:1px solid #f29e33;
}

.fux{
    color: white;
    background-color: #d863a1;
    border:1px solid #d863a1;
}
.v{
    font-size: 13px;
    color: green;
    padding: 0px 3.5px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border: 1px solid green;
    border-radius: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.x{
    font-size: 13px;
    color:red;
    padding: 0px 3.5px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border: 1px solid red;
    border-radius: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.box{
    border-radius: 12px;
    padding: 4px 9px;
    font-size: 11px;
}

h3{
    margin: 4% 1% 0% 0%;
}

p span{
    margin-right: 3px;
}
/* fine lista */
