*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif

}

.container {
    width: 75%;
    margin:auto;
    padding: 1.5% 5% 5% 5%;
    background-color: white;
    margin-top: 50px;
    border-radius: 5px;
}

/* logo */
#logo{
    margin: 1% 0% 1% 2%;
    vertical-align: middle;
}

#logot{
    font-size: 35px;
    font-weight: 600;
    vertical-align: middle;
}

.containerl h1{
    display: inline-block;
}
/* /logo */

/* colori background */
body{
    background-color: #f6f8f9;
}

header{
    background-color: white;
}

/* colori background */

/* nav */
.bott1{
    border-radius: 5px;
    padding: 1% 2%;
    
}

.bott2{
    background-color: white;
    border-radius: 5px;
    padding: 1% 2%;
    color: #c6ccd1;
    border:1px solid #c6ccd1;
}

hr{
    color: #f6f8f9;
    margin-top: 1%;
    width: auto;
 } /*non riesco a togliere il margine ai lati*/

/* fine nav */

/* lista */
.blu{
    color: white;
    background-color: #45abea;
    border:1px solid #45abea;
}

.v{
    font-size: 13px;
    color: green;
    padding: 0px 2px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border: 1px solid green;
    border-radius: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.box{
    border-radius: 12px;
    padding: 4px 9px;
    font-size: 11px;
}

h3{
    margin: 6% 1% 0% 0%;
}
/* fine lista */
